@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*
{
	margin:0;
	border:0;
	padding:0;
	outline:0;
	box-sizing:border-box;
	transition:.5s;
	font-family:"roboto";
}

:root
{
	--col-primary-1:rgb(16,16,28);
	--col-primary-2:rgb(24,24,36);
	--col-primary-3:rgb(32,32,45);

	--col-white-1:rgb(255,255,255);
	--col-white-2:rgb(255,255,255);
	--col-white-3:rgb(255,255,255);

	--col-red:rgb(231, 76, 60);
	--col-green:rgb(46, 204, 113);
	--col-blue:rgb(52, 152, 219);
	--col-yellow:rgb(241, 196, 15);
	--col-purple:rgb(155, 89, 182);
	--col-orange:rgb(230, 126, 34);

	--interval-1:8px;
	--interval-2:16px;
	--interval-3:24px;
	--interval-4:32px;
	--interval-5:40px;
	--interval-6:48px;
	--interval-7:56px;
	--interval-8:64px;

	--wgt-100:100;
	--wgt-300:300;
	--wgt-400:400;
	--wgt-500:500;
	--wgt-700:700;
	--wgt-900:900;
}